<section class="splash-section">
  <h1 class="app-title"> Budgetify </h1>

  <%= link_to "Log In", new_user_session_path, class: "splash-btn" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "splash-btn" %>
</section>