.home-section {
  background-color: #ececec;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #3778c2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.page-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 1rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: 900;
  text-decoration: none;
  color: whitesmoke;
}

.log-out {
  padding: 3px 8px;
  color: #3778c2;
  border: 0;
  background-color: whitesmoke;
  font-weight: 700;
  border-radius: 2px;
}

.expense-list {
  width: 100vw;
  padding: 10px 8px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  flex: 1;
}

.expense-item {
  width: 100%;
  height: 80px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  box-shadow: 2px 2px 5px #434c5577;
}

.expense-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 10px;
  color: #434c55;
  font-size: 1.4rem;
  font-weight: 500;
  width: 100%;
}

.icon-container {
  width: 64px;
  height: 64px;
  overflow: hidden;
  position: relative;
}

.icon {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expense-name {
  flex: 1;
}

.total-amount {
  justify-self: flex-end;
}

.new-expense {
  position: sticky;
  bottom: 0;
  width: 100vw;
  background-color: #5fb523;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.new-expense-link {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  border: 2px solid whitesmoke;
  padding: 2vh 27vw;
}
